/* static/css/site.css */
:root {
  --content: 645px;
  --wide: 1340px;
  --pad: 50px;
}



body {
  margin: 0;
  font-family: Manrope, sans-serif;
  line-height: 1.4;
  font-size: 20px;

}

.site-header {
  padding: 20px var(--pad);
}

.header-inner {
  max-width: var(--wide);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.site-nav a {
  text-decoration: none;
  color: inherit;
}

.site-main {
  max-width: var(--content);
  margin: 60px auto 0 auto;
  padding: 0 var(--pad);
}

.site-footer {
  height: 60px;
}
